# HOWTO: https://pre-commit.com/#usage
# pip3 install pre-commit
# pre-commit install -t pre-commit -t pre-push

repos:
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
        additional_dependencies:
          [types-pkg_resources, types-requests, types-Deprecated]
  - repo: https://github.com/teemtee/tmt.git
    rev: 1.29.0
    hooks:
      - id: tmt-lint
        # Do not run in pre-commit.ci as it requires an internet access
        # for verifying imported tmt plans
        stages: [manual, push]
  - repo: https://github.com/packit/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: check-rebase
        args:
          - https://github.com/packit-service/ogr.git
        # Do not run in pre-commit.ci as it requires an internet access
        # to verify the rebasing
        stages: [manual, push]
  - repo: https://github.com/packit/requre
    rev: 0.8.3
    hooks:
      - id: requre-purge
        # Do not run in pre-commit.ci as it requires too much time
        stages: [manual, push]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
